.container {
    background-color:aqua;
    border-width: 4px;
    border-color: blue;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.button {
    background-color: chartreuse;
}