.square {
    background-color: #0080ff;
    border-width: 2px;
    border-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blank {
    background-color: transparent;
    color: transparent;
    padding: 0;
    margin: 0;
}