.square {
    background-color: #0080ff;
    border-width: 2px;
    border-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.blank {
    background-color: transparent;
    color: transparent;
}